*{
    padding: 0px;
    margin: 0px;
}
a {
    text-decoration: none;
}
a img{
    border-style: none;
}
ul{
    list-style: none;
}
button {
    border: none;
    background-color: #f7aa00;
    font-family: Merriweather;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 12px 6px 12px;
    margin: 0px auto;
    display: inline-flex;
    text-align: center;
    cursor: pointer;
}
button:hover {
    background-color: #235784;
}
h3 {
    font-family: Lato;
}
.cf::after{
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
body{
    font-family: 'Lato', sans-serif;
}
header {
    width: 100%;
    height: auto;
    background-color: #235784;
    text-align: center;
    color: white;
}
header p {
    font-size: 12px;
}
.call {
    padding-top: 13px;
    padding-bottom: 11px;
    font-family: Merriweather;
    cursor: pointer;
}
.call i {
    padding-right: 5px;
    transform: rotate(108deg);
}
.email {
    font-family: Merriweather;
    cursor: pointer;
}
.email i {
    padding-right: 5px;
    padding-bottom: 11px;
}
.socialicons {
    display: inline-flex;
}
.socialicons li:hover {
    transform: scale(1.3);
    color: #f7aa00;
}
.socialicons li {
    padding-right: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.socialicons :nth-child(4) {
    padding-right: 0px;
}
.menubarmob {
    width: 80%;
    height: auto;
    background-color: white;
    overflow: hidden;
    margin: 0px auto;
}
.logomob {
    width: 140px;
    height: 40px;
    margin: 5px 0px 5px 0px;
    float: left;  
}
.wrappermenu {
    width: 80%;
    margin: 0px auto;
}
.hamburger {
    color: #235784;
    float: right;
    font-size: 37px;
    margin: 5px 0px 5px 0px;
    cursor: pointer;
}
.mainviewmob {
    width: 100%;
    height: auto;
    background-image: url('../img/Mockup-Smartphone_18.4_02.jpg');
    background-size: cover;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 20px;
    object-fit: cover;
}
.mainviewmob hr {
    background-color:#f7aa00;
    width: 90px;
    height: 2px;
    top: 50px;
    border: none;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 25px;
}
.mainviewmob h1 {
    font-size: 28px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-family: PT-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.mainviewmob h2 {
    color: #f7aa00;
    font-size: 21px;
    font-style: italic;
    font-family: PT-serif;
    letter-spacing: .3px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.mainviewmob button {
    margin-bottom: 60px;
}
.maincourses, .research {
    width: 80%;
    height: auto;
    margin: 0px auto;
    box-sizing: border-box;
    padding-bottom: 20px;
    position: relative;
}
.coursehead {
    text-align: center;
    font-size: 20px;
    font-family: Merriweather;
    margin-bottom: 20px;
    font-weight: bold;
}
.position {
    position: absolute;
}
.textcourse {
    width: 100%;
    height: auto;
    background-color: #e1e1e1;
    text-align: center;
}
.imagecourse {
    width: 100%;
    height: auto;
    position: relative;
    object-fit: cover;
}
.sticky {
    position: sticky;
    width: 19px;
    height: 20px;
    position:  absolute;
    top: 8px;
    left: 10px;
}
.sticky2 {
    position: sticky;
    width: 19px;
    height: 20px;
    position:  absolute;
    top: -38px;
    left: 10px;
}
.textbox {
    position: absolute;
    background: #235784;
    color: white;
    display: inline-block;
    padding: 5px 17px;
    font-size: 10px;
    font-family: Merriweather;
    top: 259%;
    left: -146%;
    z-index: 1;
    width: 75px;
}
.textbox2 {
    position: absolute;
    background: #235784;
    color: white;
    display: inline-block;
    padding: 5px 17px;
    font-size: 10px;
    font-family: Merriweather;
    top: 261%;
    left: -149%;
    z-index: 1;
    width: 75px;
}
.crossblue {
    position: absolute;
    top: 322%;
    left: -190%;
    border-width: 19px 17px 0;
    border-style: solid;
    border-color: #235784 transparent violet;
    transform: rotate;
    transform: rotate(90deg);
    z-index: 0;
    width: 1px;
}
.crossblue2 {
    position: absolute;
    top: 322%;
    left: -191%;
    border-width: 19px 17px 0;
    border-style: solid;
    border-color: #235784 transparent violet;
    transform: rotate;
    transform: rotate(90deg);
    z-index: 0;
    width: 1px;
}
.underg {
    font-size: 17px;
    font-weight: bold;
    padding: 15px 15px;
    text-align: left;
    font-family: Lato;
    padding-bottom: 7px;
}
.textg {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    text-align: left;
    font-family: Lato Regular;
}
.btns {
    margin-bottom: 15px;
}
.news {
width: 80%;
height: auto;
margin: 0px auto;
text-align: center;
}
.news h2 {
color: #f7aa00;
font-size: 18px;
margin-bottom: 10px;
padding-left: 15px;
text-align: left;
font-family: Merriweather;
}
.newsdate {
color: #f7aa00;
font-size: 16px;
margin-bottom: 5px;
padding-left: 15px;
text-align: left;
font-family: Lato;
}
.mainnews {
font-size: 14px;
margin-bottom: 10px;
padding-left: 15px;
text-align: left;
color: #235784;
}
.news hr {
margin-top: 15px;
background-color: #f7aa00;
width: 100%;
height: 3px;
border: none;
margin-bottom: 20px;
}
.freec, .speakers {
width: 80%;
height: auto;
margin: 0px auto;
text-align: center;
}
.freecimg {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0px auto;
    margin-top: 45px;
}
.textfree {
    width: 100%;
    height: auto;
    background-color: #2972b9;
    color: white;
}
.textfree :nth-child(1) {
    font-size: 16px;
    text-align: left;
    padding: 15px 10px 10px 10px;
    font-weight: bold;
    font-family: Merriweather;
}
.textfree :nth-child(2) {
    font-size: 15px;
    text-align: left;
    padding: 0px 10px 10px 10px;
    font-family: Merriweather;
}
.freebtn {
    border-radius: 7px;
    padding: 5px 20px 5px 20px;
    margin-bottom: 18px;
    margin-top: 15px;
}
.speakers h2 {
    text-align: center;
    font-size: 20px;
    font-family: Merriweather;
    margin-bottom: 20px;
    margin-top: 20px;
}
.speakimg{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0px auto;
}
.textspeak {
    height: auto;
    background-color: #e1e1e1;
    color: black;
    padding: 15px;
}
.textspeak :nth-child(1) {
    font-size: 15px;
    text-align: left;
    padding-bottom: 8px;
    font-weight: bold;
}
.textspeak h3 {
    font-size: 17px;
    text-align: left;
    padding-bottom: 8px;
}
.textspeak :nth-child(3) {
    font-size: 13px;
    text-align: left;
    padding-bottom: 15px;
}
.speak1 {
    margin-bottom: 30px;
}
.subscribe {
    background-color: #f7aa00;
    color: white;
    width: 100%;
    height: auto;
    margin: 0px auto;
    text-align: center;
}
.subscribe h3 {
    font-size: 16;
    padding: 10px 15px 10px 15px;
    font-family: Merriweather;
}
.subs {
    width: 100px;
    height: auto;
    border: none;
    font-size: 10px;
    padding: 5px;
    float: left;
}
.subscribe button {
    background-color: #cccccc;
    color: black;
    float: left;
    padding: 5px;
    font-size: 10px;
    cursor: pointer;
}
.subsbtn {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 10px;
    margin: 0px auto;
}
.subsbtndiv {
    display: inline-block;
}
footer {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
}
.footerwrap {
    width: 80%;
    height: auto;
    margin: 0px auto;
}
.downlogo {
    width: 140;
    height: 45px;
    padding: 20px 0px 20px 0px;
}
.footertext {
    font-size: 11px;
    padding-bottom: 20px;
    line-height: 20px;
}
.footerwrap h3 {
    font-size: 18px;
    color: #2972b9;
    font-family: Merriweather;
}
.footerwrap a {
    display: table;
    color: white;
    padding-top: 5px;
    font-size: 15px;
    font-family: Merriweather;
    cursor: pointer;
}
.footerwrap a:hover {
    color: #f7aa00;
}
.recent h3 {
    padding-top: 25px;
    padding-bottom: 10px;
}
.post1, .post2 {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: inline-flex;
    margin-bottom: 15px;
}
.post1 img, .post2 img {
    float: left;
    object-fit: cover;
    /* width: 100%;
    height: auto;
    /* object-fit: cover; */
    /* margin: 0px auto; */ */
}
.post1txt1 {
    float: right;
    font-size: 15px;
    margin-left: 8px;
    font-weight: bold;
}
.post1txt2 {
    font-size: 12px;
    line-height: 22px;
}
.post2 {
    margin-bottom: 30px;
}
.contactdown {
    overflow: hidden;
    width: 100%;
    height: auto;
}
.contactdown h3 {
    padding-bottom: 8px;
}
.call2 {
    padding-bottom: 8px;
    display: block;
    cursor: pointer;
}
.call2 i {
    padding-right: 5px;
    transform: rotate(108deg);
}
.fa-envelope {
    padding-right: 5px;
    padding-bottom: 10px;
    display: table;
    cursor: pointer;
}
.email2 {
    cursor: pointer;
}
.contactdown {
    position: relative;
}
.contactdown :nth-child(2) {
    font-family: Merriweather;
    font-size: 12px;
}
.contactdown :nth-child(3) {
    font-family: Merriweather;
    font-size: 12px;
}
.copyright {
    width: 100%;
    height: auto;
    background-color: #2972b9;
    color: white;
    text-align: center;
    margin: 0px auto;
    font-size: 11px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-family: Merriweather;
}
.fa-caret-square-up {
    float: right;
    font-size: 35px;
    position: absolute;
    bottom: 25px;
    right: 0px;
    cursor: pointer;
}

/* hiding things in responsive design */
@media only screen and (max-width: 767px) {
    .menupc {
        display: none;
   }
}
/* for computer SCREEN  */

@media only screen and (min-width: 768px) {

button {
    border: none;
    background-color: #f7aa00;
    font-family: Lato;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 14px 8px 14px;
    margin: 0px auto;
    display: inline-flex;
    text-align: center;
    cursor: pointer;
}


    header {
    width: 100%;
    height: auto;
}
header div {
    width: 80%;
    height: auto;
    margin: 0px auto;
    overflow: hidden;
}
.call {
    float: left;
    padding: 20px 30px 20px 0px;
}
.email {
    float: left;
    padding: 20px 20px 0px 0px;
}
.socialicons {
    float: right;
    padding-top: 20px;
}
.menubarmob {
    width: 1080px;
    overflow: hidden;
}
.hamburger {
    display:none;
}
.mainlogo {
    float: left;
    margin-left: 50px;
}
.logomob {
    width: 180px;
    height: 45px;
    margin: 12px 20px 12px 0px !important ;
}
.menupc {
    display: inline;
    float: right;
    padding-top: 20px;
    margin-right: 50px;
}
.menupc a {
    color: #235784;
}
.menupc a:hover {
    box-shadow: 0px 4px 0px 0px #235784;
    padding-bottom: 4px;
}
.menupc li {
    display: inline;
    padding-right: 20px;
    font-size: 18px;
    color: #235784;
}
.menupc li:nth-child(6) {
    padding-right: 0px;
}
.mainviewmob {
    background-image: url(../img/main_visual_03.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.mainviewmob hr {
    margin-top: 270px;
    width: 150px;
    height: 3px;
}
.mainviewmob button {
    margin-bottom: 185px;
}
.mainviewmob h1 {
    font-size: 35px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-family: PT-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.mainviewmob h2 {
    color: #f7aa00;
    font-size: 28px;
    font-style: italic;
    font-family: PT-serif;
    letter-spacing: .3px;
    margin-bottom: 15px;
    text-transform: uppercase;
}





















}
    